on: push

name: test

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jdk: [ adopt@1.11 ]
        scala: [ 2.13.10 ]
    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.jdk }}
      - run: sbt -v ++${{ matrix.scala }} test

